<div class="navBar">
    <ul class="daohang">
        <li><div><a href="/index.html" id="menu0" style="width: 50%;"><i class="first_default_bar"></i><span>[[#{Common.Navigator.Home}]]</span></a></div></li>
        <li><div><a href="/gameList.html" id="menu1" style="width: 60%;"><i class="second_default_bar"></i><span>[[#{Common.Navigator.Game}]]</span></a></div></li>
        <li><div><a href="/equipmentList.html" id="menu2" style="width: 60%;"><i class="third_default_bar"></i><span>[[#{Common.Navigator.Equipment}]]</span></a></div></li>
        <li><div><a href="http://172.16.10.128:8082/index.html" id="menu3" style="width: 60%;"><i class="third_default_bar"></i><span>我要变现</span></a></div></li>
    </ul>
</div>