<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/css/style-form.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <link th:href="@{/css/jquery.validate.min.css}" type="text/css" rel="stylesheet" />
    <script th:src="@{/js/jquery.validate.min.js}" type="text/javascript"></script>
    <title>公告新闻管理</title>
    <script type="text/javascript">

    </script>
</head>
<body>
<div style="padding: 15px;">
    <!-- 此处class dellAllComment 对应于最下面一个绑定click事件 -->
    <div class="newsDiv" style="margin-top: 15px;margin-left: 2px;">
        <form id="inputForm" class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">标题:</label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="title"  autocomplete="off" class="layui-input" maxlength="20">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">类型:</label>
                    <div class="layui-input-inline">
                        <select id="type" class="layui-input"  name="type" lay-filter="type">
                            <option value="" selected="">全部</option>
                            <option value="1">新闻</option>
                            <option value="0">公告</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">显示状态:</label>
                    <div class="layui-input-inline">
                        <select id="state" class="layui-input"  name="state" lay-filter="state">
                            <option value="" selected="">全部</option>
                            <option value="1">显示</option>
                            <option value="0">隐藏</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">审核状态:</label>
                    <div class="layui-input-inline">
                        <select id="status" class="layui-input"  name="status" lay-filter="status">
                            <option value="" selected="">全部</option>
                            <option value="1">已审核</option>
                            <option value="0">待审核</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <button class="layui-btn" style="margin-top: 0px;margin-left: 2px;"
                data-type="reload">
            <i class="layui-icon">&#xe615;</i>搜索
        </button>

        <button class="layui-btn layui-btn-normal" data-type="addNews">
            <i class="layui-icon">&#xe654;</i>新增
        </button>
    </div>
    <table class="layui-hide" id="newsTable" lay-filter="newsList"></table>
    <script type="text/html" id="barDemo">
        {{#  if(d.status === 1) { }}
        <a class="layui-btn  layui-btn-sm layui-btn-xs" style="background-color : grey; cursor: none " >{{ '审核' }}</a>

        <a class="layui-btn  layui-btn-sm layui-btn-xs" style="background-color : grey; cursor: none ">{{ '修改' }}</a>
        {{#  }  else { }}
        <a class="layui-btn  layui-btn-sm layui-btn-xs" lay-event="enable" >{{ '审核' }}</a>
        <a class="layui-btn  layui-btn-sm layui-btn-xs" lay-event="edit" >{{ '修改' }}</a>
        {{#  } }}

    </script>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>

    <script type="text/html" id="stateTpl">
        {{#  if(d.state === 1){ }}
        <span style="color: #5193FA;">{{ '显示' }}</span>
        {{#  } else { }}
        <span style="color: #FF0000;">{{ '隐藏'}}</span>
        {{#  } }}
    </script>

    <script type="text/html" id="statusTpl">
        {{#  if(d.status === 1){ }}
        <span style="color: #5193FA;">{{ '已审核' }}</span>
        {{#  } else { }}
        <span style="color: #04ffd1;">{{ '待审核'}}</span>
        {{#  } }}
    </script>


    <script type="text/html" id="typeTpl">
        {{#  if(d.type === 1){ }}
        <span >{{ '新闻' }}</span>
        {{#  } else { }}
        <span >{{ '公告'}}</span>
        {{#  } }}
    </script>


    <script th:inline="javascript" type="text/javascript">
        /****查询页面加载列表 *****/
        var arr=new Array();
        var cLen=4;

        layui.use('table', function(){
            var table = layui.table;
            table.render({
                elem: '#newsTable'
                ,url:/*[[@{/PNews/news_render_list}]]*/''
                ,skin:"line"
                ,even: true
                ,page: true
                ,height: 'full-170'
                ,cols: [[
                    {field:'title', title: '标题',fixed: 'left',sort: true},
                    {field:'content',title: '内容'},
                    {field:'type', title: '类型',templet:"#typeTpl"},
                    {field:'state',title: '显示状态',templet:"#stateTpl"},
                    {field:'status', title: '审核状态',templet:"#statusTpl"},
                    {field:'createuser',title: '创建人'},
                    {field:'createtime',title: '创建时间'},
                    {field:'updateuser',title: '更新人'},
                    {field:'updatetime',title: '更新时间'},
                    {title: '操作', templet: '#barDemo', fixed: 'right',width:"180"}
                    /* {width:lastwidth, title: '操作', toolbar: '#barDemo', fixed: 'right'} */
                ]]
                ,limit:10   //默认十条数据一页
                ,limits:[10,20,30]  //数据分页条
                ,done: function(res, curr, count){

                }
            });

            var $ = layui.$,
                active = {
                    /***定义函数绑定到按钮的data-type上 addNews*/
                    refresh: function () {
                        table.reload('newsTable');
                    },
                    reload: function () {
                        var title = $("#title").val();
                        var type = $("#type").val();
                        var state = $("#state").val();
                        var status = $("#status").val();
                        table.reload('newsTable', {
                            url:/*[[@{/PNews/news_render_list}]]*/'',
                            where: {
                                title: title,
                                type: type,
                                status: status,
                                state: state
                            }
                        });
                    },
                    addNews: function () {
                        parent.layer.open({
                            type: 2,
                            area: ['654px', '402px'],
                            title: '添加公告/新闻',
                            shade: 0.6,
                            anim: 2,
                            resize:false,
                            content:/*[[@{/PNews/news/form}]]*/'',
                            end: function () {
                                location.reload();
                            }
                        });
                    }
                }

            $('.newsDiv .layui-btn').on('click',
                function() {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
            //监听工具条
            table.on('tool(newsList)', function(obj){
                var data = obj.data;
                var path = /*[[@{/PNews/news/audit}]]*/'';

                if(obj.event == 'detail'){
                    layer.msg('ID：'+ data.id + ' 的查看操作');
                    /*var lastDate=$(this).attr('data-index');
                     var currDate=new Date();
                     var date3=-1;
                     if (typeof(lastDate) != "undefined"){
                     date3=(currDate.getSeconds()-new Date(lastDate).getSeconds());
                     }
                     if(date3>=0 && date3<=1) { *///一秒内连续点击两下，实现双击事件



                } else if(obj.event == 'enable'){
                    layer.confirm('确认审核通过该内容么?', function(index){
                        if(data.status===1){
                            layer.alert("不能审核已审核的内容信息.");
                            return;
                        }
                        $.ajax({
                            type : 'POST',
                            contentType: "charset=utf-8",
                            url : path+'?id='+data.id+'&status=1',
                            datatype: 'json',
                            cache:false,
                            success : function(data) {
                                if(data=="SUCCESS"){
                                    layer.alert("审核通过!",function () {
                                        location.reload();
                                    });
                                }else{
                                    layer.alert(data);
                                }
                            },
                        });
                        layer.close(index);
                    });

                } else if(obj.event == 'edit'){
                    /*var lastDate=$(this).attr('data-index');
                     var currDate=new Date();
                     var date3=-1;
                     if (typeof(lastDate) != "undefined"){
                     date3=(currDate.getSeconds()-new Date(lastDate).getSeconds());
                     }
                     if(date3>=0 && date3<=1) { *///一秒内连续点击两下，实现双击事件
                    var title = "修改公告/新闻信息";
                    var path = /*[[@{/PNews/news/form}]]*/'';
                    layer.open({
                        type: 2,
                        /* offset: ['70px', '200px'], */
                        title: [title, true],
                        area: ['654px', '402px'],
                        fixed: false, //不固定
                        maxmin: true,
                        resize:false,
                        content: path+'?id=' + data.id,
                        end: function () {
                            location.reload();
                        }
                    });
                }
            });

        });
    </script>
</div>

</body>
</html>