
<div class="jumbotron">
    <div class="col-md-12 column">
        <div class="row clearfix">

            <div class="col-md-6 column">
                <img th:src="@{/images/2.png}" width="80px" height="80px"/>
                <i></i> 编辑个人资料
            </div>

            <div class="col-md-6 column">
                <div class="follows clearfix">
                    <span>我的金币</span>
                    <a href="${basePath}/u/${loginUser.id}/home/follows">3000.00 金币</a>
                </div>
                <div class="login-info">
                    加入时间:2018-05-24 10:58:58
                    最近登录:2018-05-24 10:58:58
                </div>
            </div>
        </div>
    </div>
</div>