<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>供应商信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}"></script>
</head>
<body>
<!-- 此处class dellAllComment 对应于最下面一个绑定click事件 -->
<div class="equipmentTable" style="margin-top: 15px;margin-left: 2px;">
    <div class="layui-form">
        <div class="layui-form-item">
            <form id="balancedata" name="balancedata" class="layui-form">
                <div class="layui-inline">
                    <label class="layui-form-label">供应商名称:</label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="name"  autocomplete="off" class="layui-input" maxlength="11">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">联系人:</label>
                    <div class="layui-input-inline">
                        <input type="text" id="contact" name="contact"  autocomplete="off" class="layui-input" maxlength="11">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">启用状态:</label>
                    <div class="layui-input-inline">
                        <select id="state" name="state" lay-filter="qzhuangtai">
                            <option value="" selected="">全部</option>
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">审核状态:</label>
                    <div class="layui-input-inline">
                        <select id="status" name="status" lay-filter="fzhuangtai">
                            <option value="" selected="">全部</option>
                            <option value="0">编辑中</option>
                            <option value="1">审核中</option>
                            <option value="10">审核通过</option>
                            <option value="11">审核不通过</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <button class="layui-btn" style="margin-top: 0px;margin-left: 2px;"
            data-type="reload">
        <i class="layui-icon">&#xe615;</i>搜索
    </button>
</div>
<script type="text/html" id="statsTpl">
    {{#  if(d.state === 1){ }}
    <span style="color: #09752f;">{{ '启用' }}</span>
    {{#  } else if(d.state === 0) { }}
    <span style="color: #FF0000;">{{ '禁用' }}</span>
    {{#  } }}
</script>
<script type="text/html" id="statusTpl">
    {{#  if(d.status === 1){ }}
    <span style="color: #09752f;">{{ '审核中' }}</span>
    {{#  } else if(d.status === 0) { }}
    <span style="color: #09752f;">{{ '编辑中' }}</span>
    {{#  } else if(d.status === 10) { }}
    <span style="color: #09752f;">{{ '审核通过' }}</span>
    {{#  } else if(d.status === 11) { }}
    <span style="color: #FF0000;">{{ '审核不通过' }}</span>
    {{#  } }}
</script>
<table class="layui-hide" id="supplier_table" lay-filter="tableList"></table>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:inline="javascript" type="text/javascript">
    /****查询页面加载列表 *****/
    var arr = new Array();
    var cLen = 4;

    layui.use('table', function () {
        var table = layui.table;
        table.render({
          elem: '#supplier_table'
            , url: '/platformSupplier/supplier_render_list'
            , skin: "line"
            , even: true
            , page: true
            , height: 'full-170'
            , cols: [[
                {field: 'name',  title: '供应商名称',width:'200'},
                {field: 'shortname', title: '供应商简称',width:'130'},
                {field: 'address',  title: '供应商地址',width:'200'},//
                {field: 'contact',  title: '联系人',width:'100'},//
                {field: 'contactphone',  title: '联系电话',width:'120'},
                {field: 'state', title: '启用状态',width:'100', templet: '#statsTpl',width:'100'},
                {field: 'status',  title: '审核状态',width:'100', templet: '#statusTpl',width:'100'},
                {field: 'createuser',  title: '创建人',width:'100'},
                {field: 'createtime', title: '创建时间',width:'100'},
                {field: 'updateuser', title: '更新人',width:'100'},
                {field: 'updatetime',  title: '更新时间',width:'100'},
                {field: 'remark', title: '备注',width:'100'},
                {title: '操作',templet: '#barDemo',fixed: 'right'}
            ]]
            , limit: 10   //默认十条数据一页
            , limits: [10, 20, 30]  //数据分页条
            , done: function (res, curr, count) {

            }
        });

        var $ = layui.$,
            active = {
                /***定义函数绑定到按钮的data-type上 addEquipment*/
                refresh: function () {
                    table.reload('supplier_table');
                }, /* 搜索框 */
                reload: function () {
                    var contact = $("#contact").val();
                    var state = $("#state").val();
                    var status = $("#status").val();
                    var name = $("#name").val();
                    table.reload('supplier_table', {
                        url: '/platformSupplier/supplier_render_list',
                        where: {
                            name:name,
                            contact: contact,
                            state: state,
                            status: status
                        }
                    });
                },
            };

        $('.equipmentTable .layui-btn').on('click',
            function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });


        //监听工具条
        table.on('tool(tableList)', function (obj) {
            layer.confirm('确认审核该运营商?', function(index){
                $.ajax({
                    type : 'POST',
                    contentType: "charset=utf-8",
                    url : '/platformSupplier/audit?id='+data.id,
                    datatype: 'json',
                    cache:false,
                    success : function(data) {
                        if(data=="SUCCESS"){
                            layer.alert("审核成功!",function () {
                                location.reload();
                            });
                        }else{
                            layer.alert(data);
                        }
                    },
                });
                layer.close(index);
            });
        });
    });

</script>
<script type="text/html" id="barDemo">
    {{#  if(d.status === 0) { }}
    <a class="layui-btn layui-btn-sm" style="width:44px;padding-left: 12px;" lay-event="audit">审核</a>
    {{#  }  else { }}
    <a class="layui-btn layui-btn-sm" style="width:44px;padding-left: 12px;background-color : grey; cursor: none">审核</a>
    {{#  } }}
    <!--{{#  if(d.enableFlg === 'N') { }}-->
    <!--<a class="layui-btn layui-btn-sm" style="width:44px;padding-left: 12px;" lay-event="audit">审核</a>-->
    <!--<a class="layui-btn layui-btn-sm" style="width:44px;padding-left: 12px;" lay-event="delete">删除</a>-->
    <!--{{#  }  else { }}-->
    <!--{{#  if(d.usabilityflg === '1') { }}-->
    <!--<a class="layui-btn layui-btn-sm" style="background-color : darkgreen; cursor: none ">已启用</a>-->
    <!--{{#  }  else { }}-->
    <!--<a class="layui-btn layui-btn-sm" style="background-color : darkred; cursor: none ">已禁用</a>-->
    <!--{{#  } }}-->
    <!--{{#  } }}-->
</script>

</body>
</html>