<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <title>[[#{AppTitle}]]</title>
    <link rel="shortcut icon" th:href="@{/images/icon/bitbug_favicon.ico}"/>
    <!--<link rel="icon" type="image/gif" th:href="@{/images/animated_favicon.gif}">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/newIndex.css}"/>
    <link rel="stylesheet" th:href="@{/css/equipmentlist.css}"/>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script type="application/javascript">
        var cur = "equipmentlist";
    </script>

</head>
<style>


</style>
<body style="margin: 0;padding: 0">
<div class="web-top">
    <div class="topBar" th:include="@{common/top.html}"></div>
    <div class="logoBar" th:include="@{common/header.html}"></div>
    <!--导航-->
    <div class="logoBar" th:include="@{common/navBar.html}"></div>
</div>
<div class="middle">
    <div class="mid">

            <div class="equip">
                <div class="title">
                    <span class="equipmentTitle">[[#{equipment.detail_desc13}]]:</span>
                    <!-- <input class="queryButton" type="button" onclick="queryEquipmentByCategoryAndName()" value="搜索">
                    <input class="queryInput" type="text" name="name" id="equipment_name_remark" placeholder="请输入游戏名称或装备名称或装备备注">
                   <select class="queryCategory" name="categoryid" id="categoryid">
                        <option value="" selected="selected">所有装备</option>
                        <option th:each="categoryList:${categoryList}" th:text="${categoryList.name}"
                                th:value="${categoryList.id}"></option>
                    </select>
                    <span>装备分类：</span>-->


                </div>
                <div class="equipList" id="equipList">
                    <div class='equip00' style="width:150px" th:each="equipment:${equipmentList}">
                        <!--图片-->
                        <div style="text-align: center">
                            <a th:href="@{/equipmentdetail.html(equipmentId=${equipment.id})}">
                                <img class='bigpic' th:if="${equipment.equipmentPic!=null}" th:src="${equipment.equipmentPic}">
                                <img class='bigpic' th:if="${equipment.equipmentPic==null}" th:src="@{/images1/001.png}">
                            </a>
                        </div>
                        <div style="text-align: center;font-size: 16px;padding-top: 10px;"><span id='fontStyle' th:text="${equipment.name}"></span></div>
                        <div class='info02'>
                            <img class="gold"  th:src="@{/images1/gold.png}"><span th:text="${equipment.price}"></span>
                            <span class='unit'>[[#{equipment.detail_desc5}]]</span>
                        </div>
                    </div>

                </div>
                <div class="page" id="page">
                    <div class="pageInfo">
                        <span>[[#{Common.page.total1}]]</span>
                        <span id="equipmentNum1"></span>
                        <span>[[#{Common.page.total2}]]</span>
                        <span>[[#{Common.page.total3}]]</span>
                        <span id="currentPage1" ></span>
                        <span >[[#{Common.page.total4}]]</span>
                    </div>
                    <ul class="pagination" id="pagination">
                    </ul>
                </div>
            </div>
    </div>

    <!--底部栏-->

</div>

<!--根据是否会员登录引入不同footer-->
<div class="web-bottom" th:if="${session.PlayerUserKey!=null}" th:include="@{common/memberFooter.html}"></div>
<div class="web-bottom" th:if="${session.PlayerUserKey==null}" th:include="@{common/footer.html}"></div>

</div>
<input type="hidden" id="allPage">
<input type="hidden" id="currentPage">
<input type="hidden" id="currentMaxPage">
<input type="hidden" id="currentMinPage">
<input type="hidden" id="equipmentNum">
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        $("#menu2").css("color","red");
        $("#menu2 i").addClass("third_active_bar");
        toSellEquipment();
    });

    function toSellEquipment() {
        /*<![CDATA[*/
        var equipmentList = [[${equipmentList}]];

        var str = '';
        //生成分页相关并记录到隐藏域
        var eachPageNum = 30;//每页显示数量
        var tempNum = Math.ceil([[${equipmentInfoListCount}]] / eachPageNum);//计算总页数

        $("#allPage").val(tempNum);
        $("#currentPage").val(1);//当前页面
        $("#currentMinPage").val(1);//当前最小显示页码
        $("#equipmentNum").val([[${equipmentInfoListCount}]]);
        var strPage = '<li><a onclick=\'pageChange(1)\'>«</a></li>';
        for (var a = 1; a <= tempNum; a++) {
            if (a > 7) {
                strPage = strPage + "<li><a  onclick='more()'>…</a></li>";
                break;
            }
            strPage = strPage + "<li><a   id='a" + a + "' onclick='pageChange(" + a + ")'>" + a + "</a></li>"
            $("#currentMaxPage").val(a);//当前最大显示页码
        }
        strPage = strPage + "<li><a onclick='pageChange(" + tempNum + ")'>»</a></li>";

        $("#pagination").html(strPage);

        //遍历装备
        var n=0;
       /* $.each(equipmentList, function (i, obj) {
            n++;
            console.log(i);
            console.log(obj);
          /!*  str = str + "<a  href='/Player/equirementDetail.html?equipmentid=" + obj.id + "' ><div class=\"equip00\" title='" + obj.name + "'><img class=\"bigpic\" src=\"" + obj.equipmentpic + "\">" +
                "<div class=\"info01\"><img src=\"" + obj.gamepic + "\"><h6>" + obj.gamename + "</h6></div>" +
                "<div class=\"info02\"><h6 class=\"shengyu\">剩余" + obj.quantity + "个</h6><h4 >" + obj.price + "</h4>" +
                "<h6 class=\"unit\">" + obj.currencyname + "</h6></div></div></a>";*!/
            if(n<equipmentList.length) {
                str = str + "<div class=\"equip00\"><a href='" + obj + "'><img class=\"bigpic\" src=\"" + '/images1/daoju001.png' +
                    "\"></a><div class=\"info02\"><h4 >" + '5000.00金币' + "</h4>" +
                    "</div></div>";
                $(".equipList").append(str);
            }
        });*///[[#{Common.surplus}]]  [[#{Common.ge}]]
       /* $("#equipList").html(str);*/
        //增加第一页选中状态
        if ($("#currentPage").val() != null && $("#currentPage").val() != '') {
            $("#a1").attr("class", "active")
        }
        //显示页面信息
        $("#equipmentNum1").html($("#equipmentNum").val());
        $("#allPage1").html($("#allPage").val());
        $("#currentPage1").html($("#currentPage").val()); /*]]>*/
        //显示选中的类别分页
        $(".title li").attr("class", "");
        if ($("#currentCategory").val() != null && $("#currentCategory").val() != '') {
            $(".title li[name=" + temp + "]").attr("class", "active")
        }
        /*]]>*/
    }

    function pageChange(obj) {
        if (obj == $("#currentPage").val()) {
            $("html,body").animate({scrollTop: 0}, 500);
            return;
        }
        //点击首页尾页时刷新分页
        var allPage = $("#allPage").val();
        if (parseInt(obj) == 1) {
            var temp = 1;
            var strPage = '<li><a onclick=\'pageChange(1)\'>«</a>';
            $("#currentMinPage").val(temp);//当前最小显示页码
            for (var a = 1; a <= allPage; a++) {
                if (a > (parseInt(temp) + 6)) {
                    strPage = strPage + "<li><a  onclick='more()'>…</a></li>";
                    break;
                }
                strPage = strPage + "<li><a   id='a" + a + "' onclick='pageChange(" + a + ")'>" + a + "</a></li>";
                $("#currentMaxPage").val(a);
            }
            strPage = strPage + "<li><a onclick='pageChange(" + allPage + ")'>»</a></li>";
            $("#pagination").html(strPage);
        } else if (parseInt(obj) == parseInt(allPage)) {
            var temp = parseInt(obj) - 6;
            var strPage = '<li><a onclick=\'pageChange(1)\'>«</a>';
            //判断是否会到首页
            if (temp <= 1) {
                temp = 1;
            } else {
                strPage = strPage + "</li><li><a onclick='less()'>…</a></li>";
            }
            $("#currentMinPage").val(temp);//当前最小显示页码
            for (var b = parseInt(temp); b <= allPage; b++) {
                if (b > (parseInt(temp) + 6)) {
                    strPage = strPage + "<li><a  onclick='more()'>…</a></li>";
                    break;
                }
                strPage = strPage + "<li><a   id='a" + b + "' onclick='pageChange(" + b + ")'>" + b + "</a></li>";
                $("#currentMaxPage").val(b);
            }
            strPage = strPage + "<li><a onclick='pageChange(" + allPage + ")'>»</a></li>";
            $("#pagination").html(strPage);

        }


        /*<![CDATA[*/
        $("#currentPage").val(obj);
        $.ajax({
            type: 'POST',
            url: '/getEquipmentListByPageNumAndCategory?categoryid=' + $("#categoryid").val() + '&pagenum=' + obj,
            datatype: 'json',
            cache: false,
            success: function (data) {
                data=JSON.parse(data);
                var str = '';

                //根据页数的算法遍历新一页游戏列表
                $.each(data, function (i, obj) {
                    if (obj.equipmentPic == null) {
                        obj.equipmentPic = "/images1/default2.png";
                    }
                        str = str + "<a  href='/Player/equirementDetail.html?equipmentid=" + obj.id + "'><div class=\"equip00\" title='" + obj.name + "'><img class=\"bigpic\" src=\"" + obj.equipmentPic + "\">" +
                            "<div class=\"info01\"><img src=\"" + obj.gamepic + "\"><h6>" + obj.gamename + "</h6></div>" +
                            "<div class=\"info02\"><h6 class=\"shengyu\">剩余" + obj.quantity + "个</h6><h4 >" + obj.price + "</h4>" +
                            "<h6 class=\"unit\">" + obj.currencyname + "</h6></div></div></a>";
                        //[[#{Common.surplus}]]  [[#{Common.ge}]]
                });
                $("#equipList").html(str);
                //刷新选中状态
                $(".page .pagination li a").attr("class", "");
                if ($("#currentPage").val() != null && $("#currentPage").val() != '') {
                    $("#a" + obj + "").attr("class", "active")
                }
                //显示页面信息
                $("#equipmentNum1").html($("#equipmentNum").val());
                $("#allPage1").html($("#allPage").val());
                $("#currentPage1").html($("#currentPage").val());
                $("html,body").animate({scrollTop: 0}, 500);
            }
        });
       /*]]>*/
    }


    //页码增加
    function more() {
        var currentMax = $("#currentMaxPage").val();
        var allPage = $("#allPage").val();
        var strPage = '<li><a onclick=\'pageChange(1)\'>«</a></li><li><a onclick=\'less()\'>…</a></li>';
        //判断是否会到尾页
        if (parseInt(currentMax) + 7 > allPage) {
            currentMax = allPage - 6;
        }
        $("#currentMinPage").val(currentMax);//当前最小显示页码
        for (var a = parseInt(currentMax); a <= allPage; a++) {
            if (a > (parseInt(currentMax) + 6)) {
                strPage = strPage + "<li><a  onclick='more()'>…</a></li>";
                break;
            }
            strPage = strPage + "<li><a   id='a" + a + "' onclick='pageChange(" + a + ")'>" + a + "</a></li>";
            $("#currentMaxPage").val(a);
        }
        strPage = strPage + "<li><a onclick='pageChange(" + allPage + ")'>»</a></li>";
        $("#pagination").html(strPage);
        //刷新选中状态
        $(".page .pagination li a").attr("class", "");
        if ($("#currentPage").val() != null && $("#currentPage").val() != '') {
            $("#a" + $("#currentPage").val() + "").attr("class", "active")
        }
    }

    //页码减少
    function less() {
        var currentMin = $("#currentMinPage").val();
        var allPage = $("#allPage").val();
        var strPage = '<li><a onclick=\'pageChange(1)\'>«</a>';//
        currentMin = parseInt(currentMin) - 6;
        //判断是否会到首页
        if (currentMin <= 1) {
            currentMin = 1;
        } else {
            strPage = strPage + "</li><li><a onclick='less()'>…</a></li>";
        }
        $("#currentMinPage").val(currentMin);//当前最小显示页码
        for (var a = parseInt(currentMin); a <= allPage; a++) {
            if (a > (parseInt(currentMin) + 6)) {
                strPage = strPage + "<li><a  onclick='more()'>…</a></li>";
                break;
            }
            strPage = strPage + "<li><a   id='a" + a + "' onclick='pageChange(" + a + ")'>" + a + "</a></li>";
            $("#currentMaxPage").val(a);
        }
        strPage = strPage + "<li><a onclick='pageChange(" + allPage + ")'>»</a></li>";
        $("#pagination").html(strPage);
        //刷新选中状态
        $(".page .pagination li a").attr("class", "");

        if ($("#currentPage").val() != null && $("#currentPage").val() != '') {
            $("#a" + $("#currentPage").val() + "").attr("class", "active")
        }


    }
    function queryEquipmentByCategoryAndName() {
        $.ajax({
            type: 'POST',
            url: '/getEquipmentListByPageNumAndCategory?categoryid=' + $("#categoryid").val() + '&pagenum=1&name=' + $("#equipment_name_remark").val(),
            datatype: 'json',
            cache: false,
            success: function (data) {
                data1=JSON.parse(data);
                var str = '';

                //根据页数的算法遍历新一页游戏列表
                $.each(data1[0].equipmentList, function (i, obj) {
                    if (obj.equipmentPic == null) {
                        obj.equipmentPic = "/images1/default2.png";
                    }
                    str = str + "<a  href='/Player/equirementDetail.html?equipmentid=" + obj.id + "'><div class=\"equip00\" title='" + obj.name + "'><img class=\"bigpic\" src=\"" + obj.equipmentpic + "\">" +
                        "<div class=\"info01\"><img src=\"" + obj.gamepic + "\"><h6>" + obj.gamename + "</h6></div>" +
                        "<div class=\"info02\"><h6 class=\"shengyu\">剩余" + obj.quantity + "个</h6><h4 >" + obj.price + "</h4>" +
                        "<h6 class=\"unit\">" + obj.currencyname + "</h6></div></div></a>";
                    //[[#{Common.surplus}]]  [[#{Common.ge}]]
                });
                $("#equipList").html(str);

                //更新分页信息
                var num= data1[0].equipmentListCount;
                var eachPageNum = 30;//每页显示数量
                var tempNum = Math.ceil(num / eachPageNum);//计算总页数
                $("#allPage").val(tempNum);
                $("#currentPage").val(1);//当前页面
                $("#currentMinPage").val(1);//当前最小显示页码
                $("#equipmentNum").val(num);
                var strPage = '<li><a onclick=\'pageChange(1)\'>«</a></li>';
                for (var a = 1; a <= tempNum; a++) {
                    if (a > 7) {
                        strPage = strPage + "<li><a  onclick='more()'>…</a></li>";
                        break;
                    }
                    strPage = strPage + "<li><a   id='a" + a + "' onclick='pageChange(" + a + ")'>" + a + "</a></li>"
                    $("#currentMaxPage").val(a);//当前最大显示页码
                }
                strPage = strPage + "<li><a onclick='pageChange(" + tempNum + ")'>»</a></li>";
                $("#pagination").html(strPage);
                //刷新选中状态
                $(".page .pagination li a").attr("class", "");
                if ($("#currentPage").val() != null && $("#currentPage").val() != '') {
                    $("#a1").attr("class", "active")
                }
                //显示页面信息
                $("#equipmentNum1").html($("#equipmentNum").val());
                $("#allPage1").html($("#allPage").val());
                $("#currentPage1").html($("#currentPage").val());   //高亮显示
                //**************************************************************
                if($("#equipment_name_remark").val()!=null &&$("#equipment_name_remark").val()!=''){
                    String.prototype.replaceAll = function(search, replacement) {
                        var target = this;
                        return target.replace(new RegExp(search, 'g'), replacement);
                    };
                    $(".info01 h6").html(function() {
                        return $(this).text().replace($("#equipment_name_remark").val(),"<a style='color: red'>"+$("#equipment_name_remark").val()+"</a>");
                    });

                }
            }
        });
    }

</script>
</body>
</html>