<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.dao.INewsDao">
    <resultMap type="com.hy.entity.News" id="newsResult"/>
    <insert id="add" parameterType="com.hy.entity.News">
        INSERT INTO HY_NEWS_A
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content!=''">content,</if>
            <if test="type != null">type,</if>
            <if test="state != null">state,</if>
            <if test="status != null">status,</if>
            <if test="createuser != null and createuser != ''">createuser,</if>
            createtime,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content!=''">#{content},</if>
            <if test="type != null">#{type},</if>
            <if test="state != null">#{state},</if>
            <if test="status != null">#{status},</if>
            <if test="createuser != null and createuser != ''">#{createuser},</if>
            to_char(sysdate,'yyyymmddHH24mmss'),
        </trim>
    </insert>
    <update id="update" parameterType="com.hy.entity.News">
        UPDATE HY_NEWS_A
        <set>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="type != null">type = #{type},</if>
            <if test="state != null">state = #{state},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateuser != null and updateuser != ''">updateuser = #{updateuser},</if>
            updatetime = to_char(sysdate,'yyyymmddHH24mmss'),
        </set>
        where id = #{id}
    </update>
    <delete id="delete" parameterType="com.hy.entity.News">
        DELETE from HY_NEWS_A where id = #{id}
    </delete>
    <select id="getNews" parameterType="com.hy.entity.News" resultMap="newsResult">
        select * from HY_NEWS_A where id = #{id} and rownum=1
    </select>
    <select id="getList" parameterType="map" resultMap="newsResult">
        select * from HY_NEWS_A
        where 1=1
        <if test="title != null and title != ''">
            and instr(title,#{title})>0
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="state != null">
            and state = #{state}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        order by createtime desc
    </select>
    <select id="getListCount" parameterType="map" resultType="int">
        select count(*) from HY_NEWS_A
        where 1=1
        <if test="title != null and title != ''">
            and instr(title,#{title})>0
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="state != null">
            and state = #{state}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
    </select>
</mapper>